[build]
publish = "."
functions = "netlify/functions"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/data/:splat"
status = 200

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
